* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #555;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  display: float-root;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 280%;
  color: #fff;
  word-spacing: 3px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";

  width: 200px;
  margin: 30px auto 0 auto;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;

  padding: 2px;

  transition: border-bottom 0.3s, color 0.3s;

  -webkit-transition: border-bottom 0.3s, color 0.3s;
  -moz-transition: border-bottom 0.3s, color 0.3s;
  -ms-transition: border-bottom 0.3s, color 0.3s;
  -o-transition: border-bottom 0.3s, color 0.3s;
  -webkit-transition: border-bottom 0.3s, color 0.3s;
}
a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border: 1.5px solid #e67e22;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1.5px solid #e67e22;
  color: #fff;
  margin-right: 5px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1.5px solid #e67e22;
  color: #e67e22;
  margin-left: 5px;
}

.btn:active,
.btn:hover,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}
.btn-full:active,
.btn-full:hover {
  border: 1.5px solid #e67e22;
}

.btn-ghost:active,
.btn-ghost:hover {
  color: #fff;
  border: 1.5px solid #e67e22;
}

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  line-height: 120%;
  vertical-align: middle;
  margin-top: -2px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logo {
  height: 60px;
  width: auto;
  float: left;
  margin: 20px 0;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}
.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  padding: 8px 0px;
  -webkit-transition: border-bottom 0.3s;
  -moz-transition: border-bottom 0.3s;
  -ms-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  -webkit-transition: border-bottom 0.3s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
  display: none;
  float: right;
  margin-top: 30px;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 17px 0;
  color: #555;
}
.sticky .logo {
  display: none;
}

.sticky .logo-black {
  display: block;
}

footer {
  background-color: #333;
  padding: 20px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0px;

  color: #888;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.ion-social-facebook,
.ion-social-whatsapp,
.ion-social-twitter,
.ion-social-instagram {
  transition: color 0.3s;
}

.ion-social-facebook:hover {
  color: #3b5999;
}
.ion-social-instagram:hover {
  color: #e95950;
}
.ion-social-twitter:hover {
  color: #55acee;
}
.ion-social-whatsapp:hover {
  color: #25d366;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.contact-form {
  width: 60%;
  margin: 0px auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 5px;
  transform: scale(1.25);
}

*:focus {
  outline: none;
}

.section-plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: rgb(253, 253, 253);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0px;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px, o;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #e67e22;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/back-customers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

blockquote {
  font-style: italic;
  line-height: 145%;
  padding: 2%;
  position: relative;
  margin-top: 40px;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

cite {
  margin-top: 25px;
  font-size: 90%;
  display: block;
}

cite img {
  height: 45px;
  border: 1px solid #e67e22;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.section-cities img {
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

.section-steps {
  background-color: #f4f4f4;
}
.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.step-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-step {
  margin-bottom: 50px;
}

.work-step div {
  margin-right: 25px;
  margin-bottom: 10px;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 50px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  float: left;
}

.work-step:last-of-type {
  margin-bottom: 60px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.section-features .long-copy {
  margin-bottom: 30px;
}

.section-meals {
  padding: 0px;
}
.meals-showcase {
  width: 100%;
  list-style: none;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photos {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #000;
}
.meal-photos img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -ms-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  -webkit-transform: scale(1.15);
}
.meal-photos img:hover {
  transform: scale(1.03);
  opacity: 1;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated {
  opacity: 1;
}
